<Files "*.ini">
deny from all
</Files>

<Files "*.dll">
deny from all
</Files>

<Files "*.dat">
deny from all
</Files>

<Files "earsvc.exe">
deny from all
</Files>

RewriteEngine On
RewriteRule ^log$ cgi-ear.exe?action=log
RewriteRule ^balance$ cgi-ear.exe?action=balance
RewriteRule ^ping$ cgi-ear.exe?action=ping
RewriteRule ^pingm$ cgi-ear.exe?action=ping&map=true
RewriteRule ^fd$ cgi-ear.exe?action=fd
RewriteRule ^result$ cgi-ear.exe?action=result
RewriteRule ^resultm$ cgi-ear.exe?action=result&map=true
RewriteRule ^sms$ cgi-ear.exe?action=sms
