# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ear spec
notForGit
*.obj
*.o
*.exp
EEar/soft/addons_libs/stm_cube/
EEar/soft/addons_libs/STM32F4-Discovery_FW_V1.1.0/
History
__Previews
*.PrjPcbStructure
Project*Logs*